.dashboard{
    height: 100vh;
}

.logo{
    width: 80%;
    margin: 30px 0px;
}

.row-2-1-5{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar{
    position: relative;
    padding: 0px;
    background-color: #001F34;
    text-align: center;
}

.menu{
    display: block;


    &__li{
        position: relative;
    }

    &__link{
        display: block;
        padding: 12px;
        text-align: center;
        color: #ffffff;
        font-size: 18px;
        border-bottom: .5px solid #02314C;
        transition: background-color .4s;
        
        &--top{
            border-top: 1px solid #02314C;
        }

        &:hover{
            background-color:#02314C;
        }
    }

    &__btn{
        display: block;
        padding: 12px;
        color: #ffffff;
        background-color: #08ACDD;
        margin-top: 50px;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 20px;
        transition: background-color .3s;
        

        &:hover{
            background-color: #18596d;
        }
    }
}

.secondary-menubar{
    display: block;
    position: relative;
    padding: 10px;
    box-shadow: 1px 1px 5px 5px rgba(0,0,0,.1);
}

.secondary-menu{
    display: flex;
    justify-content: flex-end;
    

    &__link{
        display: block;
        padding: 10px 30px;
        color: #555555;
        transition: color .3s;
        text-transform: uppercase;
        font-size: 14px;
        margin-right: 15px;

        &:hover{
            color: #08ACDD;
        }

    }

    &__btn{
        text-transform: uppercase;
        padding: 10px 30px;
        border: none;
        background-color: #08ACDD;
        color: #ffffff;
        font-size: 14px;
        margin-right: 20px;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color .3s;

        &:hover{
            background-color: #18596d;
        }
    }
}


.submenu{
    visibility: hidden;
    opacity: 0;
    background-color: #001F34;
    position: absolute;
    top: 0;
    right: -90%;
    width: 90%;
    z-index: 999;

    &__link{
        display: block;
        padding: 14px;
        text-align: center;
        color: #ffffff;
        font-size: 16px;
        border-bottom: .5px solid #02314C;
        border-left: 3px solid #08ACDD;
        transition: background-color .3s;

        &:hover{
            background-color: #18596d;
        }
    }
}


.menu__li--class:hover .submenu--class{
    visibility: visible;
    opacity: 1;
}

.menu__li--subject:hover .submenu--subject{
    visibility: visible;
    opacity: 1;
}

.menu__li--teacher:hover .submenu--teacher{
    visibility: visible;
    opacity: 1;
}

.menu__li--slot:hover .submenu--slot{
    visibility: visible;
    opacity: 1;
}


.right-container{
    display: flex;
    flex-direction: column;

}

.component-container{
    flex: 1;
    position: relative;
}