.col-2{
    position: relative;
}

.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;

    &__heading{
        font-size: 26px;
        color: #4EB6CE;
        margin-bottom: 30px;
    }

    &__input{
        display: block;
        width: 100%;
        margin-bottom: 10px;
        outline: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #eaeaea;
        padding: 10px 0px;
        font-size: 16px;
    }

    &__btn{
        width: 100%;
        padding: 10px;
        border-radius: 40px;
        border: none;
        outline: none;
        background-color: #4EB6CE;
        color: #ffffff;
        font-size: 16px;
        cursor: pointer;
        transition: background-color .3s;

        &:hover{
            background-color: #2E5B9A;
        }
    }
}