.timetable-cont{
    width: 90% !important;
    margin: 0 auto;
}

.timetable{
    margin-bottom: 40px;
    margin-top: 40px;

    &__heading{
        text-align: center;
        margin-bottom: 20px;
    }
}